{
    "version": "https://schema.openattestation.com/2.0/schema.json",
    "data": {
        "shipper": {
            "address": {
                "street": "0ee359ca-df8b-4fd2-b4e3-9bf65b4e5fc6:string:One North",
                "country": "5dc97751-4b31-4c04-a0fc-0b530cf64878:string:Singapore"
            },
            "name": "2c99aa80-14c2-4e77-953e-82f3403813d0:string:Demo Shipper"
        },
        "consignee": {
            "name": "3245ebd7-1e63-480e-a688-77fd2f309b4b:string:Demo Consignee"
        },
        "notifyParty": {
            "name": "c47af00d-9d5e-42fd-b8be-e6d75946befd:string:Demo Notify"
        },
        "$template": {
            "type": "7bc0fda0-77ea-42cb-8b78-d013f4ffea2c:string:EMBEDDED_RENDERER",
            "name": "acc7d28d-6716-423f-af38-94262823a826:string:BILL_OF_LADING",
            "url": "79b704e9-eceb-40ba-a167-5f07c43a2220:string:https://demo-cnm.openattestation.com"
        },
        "issuers": [
            {
                "identityProof": {
                    "type": "4b6411d5-aef2-4d99-bbcc-acf8b3063cd1:string:DNS-TXT",
                    "location": "dd920551-809d-47c3-abee-07ad39d4593d:string:demo-tradetrust.openattestation.com"
                },
                "name": "95f3aeea-2fab-44ec-9c37-a595a9a42a57:string:DEMO STORE",
                "tokenRegistry": "a1ef08ca-8528-497e-89e5-06d688e60262:string:0x13249BA1Ec6B957Eb35D34D7b9fE5D91dF225B5B"
            }
        ],
        "name": "51c3245f-dae8-42ab-8312-d8e69bcab695:string:Maersk Bill of Lading",
        "blNumber": "e46bfb34-4987-4fd7-8305-8b656b49edc2:string:123",
        "vessel": "6693dd3e-b968-4be3-ab19-18a062c20c64:string:1",
        "voyageNo": "1c32a1a9-b591-42b3-9f97-001d62fa29e6:string:100",
        "portOfLoading": "a656dbf6-bb89-40c8-b0d9-b9a36250b2d8:string:Singapore Port",
        "portOfDischarge": "02f673aa-3d0b-4388-99cb-872c7a9379c3:string:China Port",
        "placeOfReceipt": "c38a25e1-c02f-4eda-b5f4-c94469ca6827:string:Beijing",
        "placeOfDelivery": "0bea941c-480f-4dfe-ae1c-be2713f75c87:string:Singapore",
        "links": {
            "self": {
                "href": "c5db6426-94b0-4c87-9161-55d4784d3e0b:string:https://action.openattestation.com?q=%7B%22type%22%3A%22DOCUMENT%22%2C%22payload%22%3A%7B%22uri%22%3A%22https%3A%2F%2Fapi-ropsten.tradetrust.io%2Fstorage%2F746df860-c2e9-4d3a-a187-44d9c21ae3a0%22%2C%22key%22%3A%222e8490af6b741e6be544f5e529b20e037bf66e0918333605f14e51ce176df7dc%22%2C%22permittedActions%22%3A%5B%22STORE%22%5D%2C%22redirect%22%3A%22https%3A%2F%2Fdev.tradetrust.io%2F%22%7D%7D"
            }
        }
    },
    "signature": {
        "type": "SHA3MerkleProof",
        "targetHash": "f7510772ccf06da4ece58f4ebd93e4ce6a4774e6d4434bfb1de668532750c4c4",
        "proof": [],
        "merkleRoot": "f7510772ccf06da4ece58f4ebd93e4ce6a4774e6d4434bfb1de668532750c4c4"
    }
}